body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 1em;
}
header {
  width: 100%;
  background: linear-gradient(#FCD598, #FCD598);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7em;
}
header img {
  width: 5em;
  margin-left: 57px;
}
.current-room-title {
  background: #FEF5E5;
  color: #FCD598;
  margin-right: 1em;
  border-radius: 30px;
  padding: .5em;
  font-weight: lighter;
  font-size: 1.5em;
}
h1 {
  font-weight: bolder;
  font-size: 1.5em;
  padding: 1em;
  height: 1.5em;
  width: 200px;
}
.flex-main {
  position: fixed;
  bottom: 0px;
  top: 7em;
}
footer {
  background: linear-gradient(#999999, #000000);
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 4em;
  font-size: 1em;
}
@media screen and (max-width: 580px) {
  body {
      font-size: .7em;
  }
  footer {
    height: 4em;
  }
}
