.message-history {
  overflow: scroll;
  width: 72vw;
  padding-left: 3vw;
}
.top-msg-spacer, .bottom-msg-spacer {
  height: 1em;
}
.message-timestamp {
  font-size: 1em;
  color: #ccc;
  float: right;
  margin-right: 2.5em;
}
li .username {
  color: #000;
  font-weight: bold;
}
li .text-body {
  color: #555;
  padding: .5em 3em 1em 1em;
}
