.new-chat {
  color: #FEF5E5;
  background: linear-gradient(#999999, #555555);
  height: 2em;
  width: 10em;

  position: fixed;
  left: 1em;
  bottom: .7em;
  align-items: center;
  border-radius: 5px;

  transition: height 200ms;
  overflow: auto;
}

.new-chat:hover {
  height: 10em;
}

.new-chat:hover .user-item {
  display: list-item;
}

.user-item {
  display: none;
  padding: .5em;
  cursor: pointer;
}

.chat-start-text {
  font-weight: bold;
  text-align: center;
  margin: .5em;
  padding-bottom: .5em;
  border-bottom: 1px solid #000;
}
