.new-chat {
  color: #FEF5E5;
  background: linear-gradient(#999999, #000000);
  border-radius: 5px;
  height: 2.1em;
  width: 23vw;
  margin: auto;
  overflow: scroll;
  position: fixed;
  left: 1em;
  bottom: 1em;
  transition: height 400ms;
}
.new-chat:hover {
  height: 30%;
}
.user-item {
  display: none;
  padding: .5em;
  cursor: pointer;
}
.new-chat:hover .user-item {
  display: list-item;
}
.chat-start-text {
  font-weight: bold;
  text-align: center;
  margin: .5em;
}
.new-chat:hover .chat-start-text {
  padding-bottom: .5em;
  border-bottom: 1px solid #000;
}
@media screen and (max-width: 580px) {
  .new-chat {
    width: 20vw;
  }
}
