.flex-main {
  display: flex;
  justify-content: flex-start;
}
.sidebar {
  background: #FEF5E5;
  width: 12em;

  padding-bottom: 4em;
  overflow: scroll;
}

.login {
  font-size: 1.2em;
  font-weight: bold;
  position: absolute;
}

.login-container {
  margin: 1em 1em 0 1em;
  height: 1.5em;
}

.room-index {
  border-top: 1px solid #ccc;
  border-style: dotted;
  min-width: 10em;
  margin: 1em;
}

.room-index li p {
  border-radius: 5px;
  padding: .2em;
  font-weight: bold;
  margin: .4em 0;
}
.room-item {
  cursor: pointer;
  font-style: italic;
}

.room-item::before {
  content: "# "
}

.current-room {
  font-style: italic;
  background: #555555;
  color: #fff;
}

.current-room::before {
  content: "➜ "
}
