.new-chat {
  background: #FCD598;
  z-index: 1000;
  height: 2em;
  width: 10em;

  position: fixed;
  left: 1em;
  bottom: .7em;
  align-items: center;
  border-radius: 5px;
}

.new-chat:focus {
  height: 4em;
}
