body {
  font-family: "Futura";
}
header {
  width: 100%;
}
.current-room-title {
  height: 1em;
  width: 100%;
  text-align: right;
}
h1 {
  background: linear-gradient(#f6e441, #fef286);
  border: 1px solid #ccc;
  border: 1px 0;
  font-weight: bolder;
  font-size: 2em;
  padding: 1em;
  height: 1.5em;
}
.login {
  padding: .5em 2em;
  background: #eee;
  border-bottom: 1px solid #ccc;
  position: fixed;
  right: 0px;
  left: 0px;
}

footer {
  background: linear-gradient(#f6e441, #fef286);
  border-top: 1px solid #ccc;
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  min-height: 55px;
}
