.flex-main {
  display: flex;
  justify-content: flex-start;
}
.sidebar {
  background: #FEF5E5;
  width: 12em;
  height: 100%;
}
.room-index {
  border-top: 1px solid #ccc;
  border-style: dotted;
  min-width: 10em;
  margin: 1em;
}

.room-index li p {
  border-radius: 5px;
  padding: .2em;
  font-weight: bold;
}
.room-item {
  cursor: pointer;
  margin: 5px 0;
  font-style: italic;
}

.room-item::before {
  content: "# "
}

.current-room {
  margin: 5px 0;
  font-style: italic;
  /*color: #fff;
  background: #6aa5ff;*/
  background: #FCD598;
  color: #FEF5E5;
}

.current-room::before {
  content: "➜ "
}

.login {
  margin: 1em 1em 0 1em;
  /*padding: .2em 1em;*/
  /*background: #FCD598;*/
  /*color: #FEF5E5;*/
  font-size: 1.2em;
  font-weight: bold;
}
